<li id="summary-<%= summary.id %>">
  <%= link_to gravatar_for(summary.user, size: 50), summary.user %>
  <br>
  <span class="user"><%= link_to summary.user.name, summary.user %></span>
  <br>
  <span class="content"><%= summary.content %></span>
  <br>
  <span class="timestamp">
    Posted on <%=summary.created_at%>
  </span>
</li>
