<li id="summary-<%= summary.id %>">
  <span class="user"><%= link_to summary.user.name, summary.user %> wrote:</span>
  <span class="movie"><%= summary.movie.name %></span>
  <span class="summary"><%= summary.movie %></span>
  <span class="content"><%= summary.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(summary.created_at) %> ago.
  </span>
</li>
