<h1>Sign Up</h1>

<div class="container">

    <%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>

        <%= f.text_field :name %>
        <%= f.email_field :email  %>
        <%= f.text_field :username %>
        <%= f.password_field :password, help: "Must be at least 8 characters long" %>
        <%= f.password_field :password_confirmation, label: "Confirm Password"%>

        <%= f.submit "Register", class: "btn btn-large btn-primary" %>

        <% end %>

</div>
