<!DOCTYPE html>
<html>
    <head>
        <title>Brevii |
            <%= yield(:title) %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet">

    </head>

    <body>
        <div class="container">

          <%= render 'partials/header' %>

                    <h3 class="text-muted"> - </h3>

                    <div class="jumbotron">
                        <p> <%= yield %> </p>
                    </div>

                    <%= render 'partials/footer' %>
                </div>
            </div>

        </body>
    </html>
